@import "site.mixins.less";

.s-Cinema-MovieDiaolog {
  > .size  {width: 650px; height: 500px; }
  .caption  {width: 150px; }
}

.s-Cinema-GenreDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Cinema-MovieGenresDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Cinema-PersonDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

.s-Cinema-MoviecastDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}